{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/nav-bar.css')}}"/>
{% endblock %}
{% block body%}
	<header class="header" id="header">
		<div class="header_toggle">
			<span id="header-toggle" class="material-symbols-outlined">menu</span>
		</i>
	</div>
                <h2>Following</h2>

</header>
{{ include ('partials/_side-navbar.html.twig')}}


<!--Container Main start-->
<div class="container d-md-flex align-items-stretch bg-light">
	<div id="content" class="p-4 p-md-5 pt-5 container-scroll">
		{% if reviews %}
			{% for review in reviews %}
				{{include ("partials/_review-thumbnail.html.twig", {'review': review})}}
			{% endfor %}
		{% else %}
			Start Discovering new Books
		{% endif %}
	</div>
    {{ include ('partials/_aside.html.twig')}}

</div>
<!--Container Main end-->
{% endblock %}
{% block javascripts_bottom %}
<script src="{{ asset('js/navbar.js') }}"></script>
{# <script src="{{ asset('js/infinite_scroll.js') }}"></script> #}
{% endblock %}
