<p>{{ review.content}}</p>
<p>By:
	{{ review.creator.username }}</p>
<p>Book:
	{{ review.book.title }}</p>

<img id="like" src="{{liked ? asset('img/like.png') : asset('img/nolike.png') }}" alt="liked" height="20px" slug="{{review.slug}}">
<div id="num">{{user.numLikes}}</div>