{% extends 'base.html.twig'%}
{% block title %}
	{{ (review) ? review.title : 'Not found' }}
{% endblock %}
{% block body %}
	{% if review %}
		{{include ("partials/_data-review.html.twig", {'review': review, 'liked': liked})}}
		{{ form(commentForm) }}
	{% else %}
		<p>Review not found</p>
	{% endif %}
{% endblock %}

{% block javascripts_bottom %}
	<script src="{{ asset('js/plugins/jquery.addRemove.js') }}"></script>
	<script src="{{ asset('js/server.js') }}"></script>
{% endblock %}